body {
  background-color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 200px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.instructions {
  float: left;
  margin: 0 auto;
  width
}

.instructions p {
  position: absolute;
  margin: 0 auto;
  left: 1050px;
}

.throw {
  top: 172px;
}

.cool {
  top: 240px;

}


.ryu {
	float : left;
	width : 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ryu {
	width : 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .hulk-ready, .hulk-throwing, .hulk-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ready, .hulk-hadouken, .hulk-throwing, .hulk-cool, .hulk-still {
  background-repeat: no-repeat;

}
.hulk-ready {
background-image: url('../images/ryu-ready-position.gif');
}
 .hulk-still {
	background-image: url('../images/ryu-standing-still.png');
}
.hulk-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.hulk-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hulk-ready, .hulk-still, .hulk-throwing, .hulk-cool {
transform: scaleX(-1);
/*border : 3px solid blue;*/
display: block;
float: right;
width: 500px;
height: 494px;
-webkit-filter: hue-rotate(90deg);
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 172px;
  left: 423px;
}
.hulk-hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 172px;
  left: 820px;
  transform: scaleX(-1);

}
.title {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  text-shadow: 3px 2px red;
}
/*
* {
	outline : red 1px solid;
}*/
